# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=ilikeblue

# Make this the same as your github username/organisation
REPO_ORGANIZATION="roger-padrell"

IMAGE_DESC="Includes niri+dms, homebrew, flatpak and toolbx. Based on 'ublue-os/base-main'"
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://www.womplestudios.com/cdn/shop/files/Womple-Studios_Womples_Little-Blue_three-quarter_tiny_7ed7e131-256d-47d8-b8c5-5de61f248526.jpg?v=1762457696&width=1800
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
